<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='code_preview_style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h2>Prompt:</h2>
        <div id="prompt-content">{{ prompt | safe }}</div>

        <div class="editor-preview-container">
            <div class="editor">
                <textarea id="html-code">{{ response_html | safe }}</textarea>
                <!-- <button id="run-btn">Run</button> -->
            </div>

            <div class="preview">
                <iframe id="preview-frame"></iframe>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='code_preview_script.js') }}"></script>
</body>
</html>
